name: Slack Notification file
on: push
jobs:
  slackNotification:
    name: Slack Notification
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
   # - name: Slack Notification
   #   uses: slackapi/slack-github-action@v1.23.0
   #   with:
   #     channel-id: "U042UTA5NF7" 
   #     slack-message: "Message webhook url"
   #   env:
   #     SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
   
    - name: Slack Notification
      uses: rtCamp/action-slack-notify@v2
      env:
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
        SLACK_CHANNEL: 'as'
        SLACK_MESSAGE: "Message webhook url24"
    - name: Upload to slack step
      uses: adrey/slack-file-upload-action@master
      with:
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          path: .github/metadata_template.jq
          channel: as
