name: Slack Notification file
on: push
jobs:
  slackNotification:
    name: Slack Notification
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2      
    - uses: MeilCli/slack-upload-file@v3
      with:
          slack_token: ${{ secrets.SLACK_BOT_TOKEN }}
          channel_id: 'as'
          file_path: 'metadata_template.jq'
          initial_comment: 'post by slack-upload-file'
