name: Slack Notification file
on: push
jobs:
  slackNotification:   
    name: Slack Notification
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2 
    - name: Upload to slack step
      uses: adrey/slack-file-upload-action@master
      with:
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          channel: as
          path: metadata_template.jq
          initial_comment: 'Upload json file.'
          filename: metadata_template.jq
          filetype: js


   # - uses: MeilCli/slack-upload-file@v3  
   #   with:  
    #      slack_token: ${{ secrets.SLACK_BOT_TOKEN }}
    #      channel_id: 'C042XM00EV9'
   #       file_path: 'metadata_template.jq'
   #       initial_comment: 'post by slack-upload-file'
