name: Go package

on:
  workflow_dispatch:
    inputs:
      goVersion:
        description: 'The Go version'
        required: true
        default: "1.18"
        type: choice
        options:
        - "1.15"
        - "1.16"
        - "1.18"

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ inputs.goVersion }}

      - name: Build
        run: |
          go mod init example.com
          go build -v ./...

      - run: go version
      - name: Check the content
        run: ls -l
        
      - name: Run
        run: |
          ./m
