name: configuration

on:
  pull_request:
    types: [opened, closed]
    branches: main
    
jobs:    
  Tag_operations:
    runs-on: ubuntu-latest 
    
    outputs:
      tag: ${{ steps.get_tag.outputs.tag }}
      
    steps:           
      - name: Get branch name
        id: branch-name
        uses: tj-actions/branch-names@v6
        
      - 
        name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: ${{ steps.branch-name.outputs.current_branch }}
          
      -
        name: Create tag pr open
        if: github.event_name == 'pull_request' && github.event.action == 'opened'
        uses: mathieudutour/github-tag-action@v6.0
        id: tag_version_o
        with:
          github_token: ${{ secrets.GIT_TOKEN }}
          append_to_pre_release_tag: RC
          tag_prefix: ''  
          
      - name: Create tag pr closed
        if: github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.merged == true
        uses: mathieudutour/github-tag-action@v6.0
        id: tag_version_c
        with:
          github_token: ${{ secrets.GIT_TOKEN }}
          
      - 
        if: github.event_name == 'pull_request' && github.event.action == 'opened'
        run: echo "git_tag=${{steps.tag_version_o.outputs.new_version}}" >> $GITHUB_ENV
      - 
        if: github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.merged == true
        run: echo "git_tag=${{steps.tag_version_c.outputs.new_version}}" >> $GITHUB_ENV
        
      - 
        name: Get tag
        id: get_tag
        run: echo "::set-output name=tag::${{env.git_tag}}"
        
  Docker_operations:
    runs-on: ubuntu-latest    
    needs: Tag_operations
    steps:
      - name: Get branch name
        id: branch-name
        uses: tj-actions/branch-names@v6
        
      - 
        name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: ${{ steps.branch-name.outputs.current_branch }}          
      - run: echo ${{needs.Tag_operations.outputs.tag}}
