name: draft
on: 
  pull_request:
    types: opened
    branches:
      - 'main'
      - 'develop'

jobs:
  test:
    name: test1
    runs-on: ubuntu-latest
   # if: github.event.pull_request.draft == true
    steps:
    - uses: actions/checkout@v2  
    
    - name: "Greet contributor"
      uses: ibakshay/greet-contributors-action@v3
      env: 
        GITHUB_TOKEN: ${{ secrets.GIT_TOKEN }}
      with: 
        content: "Draft PR"

